<%- include('../partials/header') %>
    <h2>Edit Supplier</h2>
    <form action="/suppliers/<%= supplier._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= supplier.name %>"><br>
        <input type="text" name="address" value="<%= supplier.address %>"><br>
        <input type="text" name="phone" value="<%= supplier.phone %>"><br>
        <button type="submit">Update</button>
    </form>
    <%- include('../partials/footer') %>